.calcWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 1rem;
}

.console {
    border: solid #e1e1e1 2px;
    border-radius: 20px;
    width: 300px;
    height: 500px;
}

.ui {
    display: flex;
    flex-direction: column;
}

.display {
    margin: 1rem;
    border: solid #e1e1e1 2px;
    border-radius: 20px;
    height: 100px;
}

.buttons {
    margin: 1rem;
    border: solid #e1e1e1 2px;
    border-radius: 20px;
    height: 320px;
}

.buttons div {
    display: flex;
    justify-content: space-evenly;
}

.buttons button {
    flex: 1;
    margin: 5px;
    background-color: #f1f1f1;
    height: 50px;
    border: none;
    border-radius: 100px;
}

#zero {
    flex: 2.5;
}